[Unit]
Description=qbittorrent
Documentation=man:qbittorrent-nox(1)
Wants=network-online.target
Requires=media-HDD.mount
After=network-online.target nss-lookup.target

[Service]
Type=simple
User={{ ansible_env.USER }}
ExecStart=/usr/bin/qbittorrent-nox
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
