[AutoRun]
enabled=true
program=/usr/local/bin/torrentfile-upload \"%N\"

[LegalNotice]
Accepted=true

[Preferences]
Advanced\AnonymousMode=false
Advanced\IncludeOverhead=false
Bittorrent\AddTrackers=false
Bittorrent\DHT=false
Bittorrent\Encryption=0
Bittorrent\LSD=false
Bittorrent\MaxConnecs=-1
Bittorrent\MaxConnecsPerTorrent=-1
Bittorrent\MaxRatio=-1
Bittorrent\MaxUploads=-1
Bittorrent\MaxUploadsPerTorrent=-1
Bittorrent\PeX=false
Bittorrent\TrackersList=
Bittorrent\uTP=true
Bittorrent\uTP_rate_limited=true
Connection\GlobalDLLimit=5000
Connection\GlobalDLLimitAlt=10
Connection\GlobalUPLimit=5000
Connection\GlobalUPLimitAlt=10
Connection\PortRangeMin=6881
Connection\Proxy\Authentication=false
Connection\Proxy\IP=0.0.0.0
Connection\Proxy\Password=
Connection\Proxy\Port=8080
Connection\Proxy\Username=
Connection\ProxyForce=false
Connection\ProxyPeerConnections=false
Connection\ProxyType=-1
Connection\UPnP=true
Connection\alt_speeds_on=false
Downloads\FinishedTorrentExportDir=
Downloads\PreAllocation=true
Downloads\SavePath={{ hdd_dest }}/Torrents/
Downloads\ScanDirsV2=@Variant(\0\0\0\x1c\0\0\0\0)
Downloads\TempPathEnabled=false
Downloads\TorrentExportDir=/tmp/torrentfiles
Downloads\UseIncompleteExtension=true
DynDNS\DomainName=changeme.dyndns.org
DynDNS\Enabled=false
DynDNS\Password=
DynDNS\Service=0
DynDNS\Username=
General\Locale=en_EN
General\UseRandomPort=true
IPFilter\Enabled=false
IPFilter\File=
IPFilter\FilterTracker=false
Queueing\IgnoreSlowTorrents=false
Queueing\MaxActiveDownloads=3
Queueing\MaxActiveTorrents=5
Queueing\MaxActiveUploads=3
Queueing\QueueingEnabled=false
Scheduler\Enabled=false
WebUI\HTTPS\Enabled=true
WebUI\LocalHostAuth=true
WebUI\Password_ha1=
WebUI\Port=8080
WebUI\UseUPnP=true
WebUI\Username={{ user }}
