[Unit]
Description=qbittorrent
After=network.target
After=hdd.mount

[Service]
User={{ ansible_env.USER }}
Group={{ ansible_env.USER }}
ExecStart=/usr/bin/qbittorrent-nox
ExecStop=/usr/bin/killall -w qbittorrent-nox

[Install]
WantedBy=multi-user.target
